#container {
    padding: 10px;
}

.group {
    padding-top: 20px;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

li a {
	margin-left: 10px;
}

li .delete-link {
	font-size: .9em;
	font-weight: bold;
	color: white;
	background: #eee;

	display: inline-block;
	border-radius: 1em;
	padding: 0 .3em;
}
li .delete-link:before {
	content: "X";
}
li:hover .delete-link {
	background: #aaa;
}
li .delete-link:hover {
	background: red;
	cursor: pointer;
}
