/**/
/* GROUPS RELATED STYLES */
/**/

#groups {
	margin: 10px 0;
}

.group-title {
	position: relative;
	margin-bottom: .5em;
}

.group:first-of-type {
	margin-top: 10px;
}
.group {
	margin-top: 20px;
}

.group-date {
	font-size: 1.6em;
}

.group-amount {
	opacity: 0.7;
}

.restore-all {
}


ul {
	margin-left: 1em;
}

li {
	list-style-type: none;
}

ul.tab-groups li {
	line-height: 1.66em;
}
ul.tab-groups img {
	vertical-align: text-bottom;
}

.delete-link {
	font-size: .9em;
	font-weight: bold;
	color: #666;
	opacity: 0;

	display: inline-block;
	border-radius: 1em;
	padding: 0 .3em;
	margin-right: 10px;
}
.group-title .delete-link {
	position: absolute;
	left: -1.5em;
	top: .5em;
}
.delete-link:before {
	content: "×";
}
*:hover > .delete-link {
	opacity: .5;
}
.delete-link:hover {
	opacity: 1;
	cursor: pointer;
}

.link, .link:visited {
	color: #2196f3;
	text-decoration: none;
	padding: .2em;
}
.link:hover {
	cursor: pointer;
	text-decoration: underline;
}
